<div class="container">
  <h1>{{ idea.title }}</h1>
  <hr class="dotted" />
  <dl class="row">
    <dt class="col-3">Autore:</dt>
    <dd class="col-9">{{ idea.creator.firstName }} {{ idea.creator.lastName }}</dd>

    <dt class="col-3">Luogo:</dt>
    <dd class="col-9">{{ idea.location }}</dd>

    <dt class="col-3">Argomenti:</dt>
    <dd class="col-9">
      <ul class="list-inline">
        <li *ngFor="let topic of idea.topics" class="list-inline-item">
          <span class="badge badge-yellow">{{ topic.topic }}</span>
        </li>
      </ul>
    </dd>

    <dt class="col-3">Docenti:</dt>
    <dd class="col-9">
      <ul class="list-inline-commas mb-0 pl-0">
        <li *ngFor="let doc of idea.teachers" class="list-inline-item">
          {{ doc.firstName }} {{ doc.lastName }}<span *ngIf="doc.title"> ({{ doc.title }})</span>
        </li>
      </ul>
    </dd>

    <dt class="col-3">Tutors:</dt>
    <dd class="col-9">
      <ul class="list-inline-commas mb-0 pl-0">
        <li *ngFor="let tut of idea.tutors" class="list-inline-item">
          {{ tut.firstName }} {{ tut.lastName }}<span *ngIf="tut.title"> ({{ tut.title }})</span>
        </li>
      </ul>
    </dd>
  </dl>

  <sos-admin-bazaar-interactions [idea]="idea"></sos-admin-bazaar-interactions>

  <div class="detail-row">
    <div class="font-weight-bold">Valore generato:</div>
    <div>{{ idea.valueDetails }}</div>
  </div>

  <div class="detail-row">
    <div class="font-weight-bold">Motivazioni:</div>
    <div>{{ idea.motivation }}</div>
  </div>

  <div class="detail-row row">
    <div class="font-weight-bold col-3">Costo:</div>
    <div class="col-9">{{ idea.costs }}</div>
  </div>

  <div class="detail-row row" [class.border-bottom-0]="!showingComments">
    <div class="font-weight-bold col-3">Creato:</div>
    <div class="col-3">{{ idea.createdAt | date:'shortDate' }}</div>
    <div class="font-weight-bold col-3">Ultima modifica:</div>
    <div class="col-3">{{ idea.updatedAt | date:'shortDate' }}</div>
  </div>

  <div [class.detail-row]="showingComments" class="border-bottom-0">
    <router-outlet (activate)="onCommentsToggle(true)" (deactivate)="onCommentsToggle(false)"></router-outlet>
  </div>
</div>

<sos-admin-bazaar-bottom-bar [idea]="idea" [showingComments]="showingComments"
                             (onIdeaDelete)="deletedIdea()"></sos-admin-bazaar-bottom-bar>
