@import "bazaar-show.variables";


.interactions {
  border-top: $border;
  border-bottom: $border;
  @include padding-y(map_get($spacers, 3));
  & > div {
    display: inline-block;
    &:not(:last-of-type) {
      border-right: 1px solid black;
      $space: map_get($spacers, 2);
      margin-right: $space;
      padding-right: $space;
    }
    span {
      font-size: small;
    }
  }
}
