<div class="row">
  <div class="col">

    <div class="mb-5 card card-outline-secondary" *ngFor="let role of roles">
      <table class="table table-fixed">
        <tbody>

          <tr>
            <th scope="row">Numero posizioni</th>
            <td>{{ role.people }}</td>
          </tr>

          <tr>
            <th scope="row">Competenze richieste</th>
            <td>
              <ul class="list-inline">
                <li class="list-inline-item" *ngFor="let skill of role.skills">
                  <a class="badge badge-magenta" [routerLink]="['/skills', skill.id]">{{ skill.name }}</a>
                </li>
              </ul>
            </td>
          </tr>

          <tr>
            <th scope="row">Candidature</th>
            <td *ngIf="role.applications.length === 0">Nessuna candidatura per questa posizione</td>
            <td *ngIf="role.applications.length > 0">
              <table class="table table-hover">
                <tr>
                  <th>Nome</th>
                  <th>Cognome</th>
                  <th>E-mail</th>
                  <th>Motivazione</th>
                  <th>Data</th>
                  <th></th>
                </tr>
                <tr *ngFor="let app of role.applications">
                  <td>{{ app.user.firstName }}</td>
                  <td>{{ app.user.lastName }}</td>
                  <td>{{ app.user.email }}</td>
                  <td>{{ app.motivation }}</td>
                  <td>{{ app.createdAt | date:'short' }}</td>
                  <td>
                    <a class="btn btn-sm btn-sos-magenta" [routerLink]="['/users', app.user.id]">Apri profilo</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>
