<sos-bazaar-propose-saved *ngIf="showSavedComponent" [idea]="idea" [editing]="editing"
                          (editIdea)="showSavedComponent = false"></sos-bazaar-propose-saved>

<form *ngIf="!showSavedComponent" class="container px-0"
      #proposeForm="ngForm" (ngSubmit)="submitIdea($event)" novalidate>

  <h1 class="title text-center" [innerHTML]="'bazaar.propose.event.heading' | translate"></h1>
  <h5 class="text-center mb-5" [innerHTML]="'bazaar.propose.event.subhead' | translate"></h5>

  <sos-bazaar-propose-alerts [alerts]="alerts"></sos-bazaar-propose-alerts>

  <div class="form-group">
    <label for="idea-title">{{ 'bazaar.propose.title' | translate }}</label>
    <input type="text" class="form-control" required maxlength="255"
           #title="ngModel" [(ngModel)]="idea.title"
           [class.is-invalid]="title.invalid" id="idea-title" name="idea-title" />
  </div>

  <sos-bazaar-propose-topics [topics]="idea.topics" [editing]="editing"
                             (onInvalidUpdated)="invalidTopics = $event"></sos-bazaar-propose-topics>

  <div class="form-group">
    <label for="idea-activity">{{ 'bazaar.propose.activityType' | translate }}</label>
    <select class="form-control" required #activityType="ngModel" [(ngModel)]="idea.activityType"
            [class.is-invalid]="activityType.invalid" id="idea-activity" name="idea-activity">
      <option *ngFor="let activity of enumerateEnum(eventActivityTypes)" [value]="eventActivityTypes[activity]">
        {{ translateEnum('eventActivity', activity) | translate }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>{{ 'bazaar.propose.audience' | translate }}</label>
    <div class="row">
      <div class="col-6 col-md-3" *ngFor="let audience of enumerateEnum(audienceTypes)">
        <div class="form-check">
          <input type="checkbox" class="form-check-input"
                 [checked]="idea.audience.indexOf(audienceTypes[audience]) !== -1"
                 [value]="audienceTypes[audience]" #elm
                 id="idea-audience-{{audience}}"
                 (change)="changedAudience(audience, elm.checked)" />
          <label class="form-check-label" for="idea-audience-{{audience}}">
            {{ translateEnum('audience', audience) | translate }}</label>
        </div>
      </div>
    </div>
  </div>

  <sos-bazaar-propose-meetings [(meetings)]="idea.meetings" [editing]="editing"></sos-bazaar-propose-meetings>

  <sos-bazaar-propose-dates [dates]="idea.dates" [editing]="editing"></sos-bazaar-propose-dates>

  <div class="form-group">
    <label for="idea-resources">{{ 'bazaar.propose.requiredResources' | translate }}</label>
    <input type="text" class="form-control" maxlength="511"
           [(ngModel)]="idea.requiredResources" id="idea-resources" name="idea-resources" />
  </div>

  <div class="form-group">
    <label for="idea-spaces">{{ 'bazaar.propose.requiredSpaces' | translate }}</label>
    <input type="text" class="form-control" maxlength="511"
           [(ngModel)]="idea.requiredSpaces" id="idea-spaces" name="idea-spaces" />
  </div>

  <div class="form-group">
    <label>{{ 'bazaar.propose.organizerRole' | translate }}</label>
    <div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" [(ngModel)]="idea.isOrganizer" [value]="true"
               [class.is-invalid]="organizer.invalid" #organizer="ngModel" required
               name="idea-organizer-role" id="idea-organizer-role-no" />
        <label class="form-check-label" for="idea-organizer-role-no">
          {{ 'bazaar.propose.isOrganizer' | translate }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" [(ngModel)]="idea.isOrganizer" [value]="false"
               [class.is-invalid]="organizer.invalid" #organizer="ngModel" required
               name="idea-organizer-role" id="idea-organizer-role" />
        <label class="form-check-label" for="idea-organizer-role">
          {{ 'bazaar.propose.isNotOrganizer' | translate }}</label>
      </div>
    </div>
  </div>

  <sos-bazaar-propose-guests [guests]="idea.guests" [customGuests]="customGuests" [editing]="editing"
                             textAdd="bazaar.propose.guest.add"
                             textTop="bazaar.propose.guests"
                             textBottom="bazaar.propose.addedGuest"
                             textEmpty="bazaar.propose.guests.none"></sos-bazaar-propose-guests>

  <div class="form-group">
    <label for="idea-participants">
      {{ 'bazaar.propose.maxParticipants' | translate }}
    </label>
    <input type="number" min="1" required #maxParticipants="ngModel" class="form-control"
           [(ngModel)]="idea.maxParticipants" [class.is-invalid]="maxParticipants.invalid"
           id="idea-participants" name="idea-participants" />
  </div>

  <div class="form-group">
    <label>{{ 'bazaar.propose.bookingRequired' | translate }}</label>
    <div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" [(ngModel)]="idea.bookingRequired"
               [value]="true" [class.is-invalid]="booking.invalid" #booking="ngModel" required
               name="idea-booking-required" id="idea-booking-required" />
        <label class="form-check-label" for="idea-booking-required">
          {{ 'bazaar.propose.bookingIsRequired' | translate }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" [(ngModel)]="idea.bookingRequired"
               [value]="false" [class.is-invalid]="booking.invalid" #booking="ngModel" required
               name="idea-booking-required" id="idea-booking-not-required" />
        <label class="form-check-label" for="idea-booking-not-required">
          {{ 'bazaar.propose.bookingIsNotRequired' | translate }}</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="idea-program">{{ 'bazaar.propose.programDetails' | translate }}</label>
    <textarea rows="10" class="form-control" required maxlength="2047"
              #programDetails="ngModel" [(ngModel)]="idea.programDetails"
              [class.is-invalid]="programDetails.invalid" id="idea-program" name="idea-program"></textarea>
  </div>

  <div class="form-group">
    <label for="idea-value">{{ 'bazaar.propose.valueDetails' | translate }}</label>
    <textarea rows="10" class="form-control" required maxlength="2047"
              #valueDetails="ngModel" [(ngModel)]="idea.valueDetails"
              [class.is-invalid]="valueDetails.invalid" id="idea-value" name="idea-value"></textarea>
  </div>

  <div class="form-group">
    <label>{{ 'bazaar.propose.funding' | translate }}</label>
    <div class="row">
      <div class="col-6 col-md-3" *ngFor="let funding of enumerateEnum(fundingTypes)">
        <div class="form-check">
          <input type="checkbox" class="form-check-input"
                 [checked]="idea.funding.indexOf(fundingTypes[funding]) !== -1"
                 [value]="fundingTypes[funding]" #elm
                 id="idea-funding-{{funding}}"
                 (change)="changedFunding(funding, elm.checked)"
                 [class.is-invalid]="idea.funding.length === 0" />
          <label class="form-check-label" for="idea-funding-{{funding}}">
            {{ translateEnum('funding', funding) | translate }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="idea-motivation">{{ 'bazaar.propose.motivation' | translate }}</label>
    <textarea rows="10" class="form-control" required maxlength="2047"
              #motivation="ngModel" [(ngModel)]="idea.motivation"
              [class.is-invalid]="motivation.invalid" id="idea-motivation" name="idea-motivation"></textarea>
  </div>

  <div class="form-group mt-5 text-center">
    <button type="submit" class="btn btn-black" [disabled]="proposeForm.invalid || invalidTopics">
      {{ submitText | translate }}
    </button>
  </div>

</form>
