<section>
  <div class="home-section-title">
    <hr /><div>Community</div><hr />
  </div>
  <div class="stats-container">
    <div class="row">
      <div class="col-7">
        <sos-admin-home-community-membership-requests></sos-admin-home-community-membership-requests>
      </div>
      <div class="col-5">
        <sos-admin-home-community-membership-count></sos-admin-home-community-membership-count>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <sos-admin-home-community-skills-latest></sos-admin-home-community-skills-latest>
      </div>
      <div class="col-7">
        <sos-admin-home-community-skills-top></sos-admin-home-community-skills-top>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="home-section-title">
    <hr /><div>Bazaar delle Idee</div><hr />
  </div>
  <div class="stats-container">
    <div class="row">
      <div class="col-5">
        <sos-admin-home-bazaar-latest></sos-admin-home-bazaar-latest>
      </div>
      <div class="col-7">
        <sos-admin-home-bazaar-count></sos-admin-home-bazaar-count>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <sos-admin-home-bazaar-top ideaType="event"></sos-admin-home-bazaar-top>
      </div>
      <div class="col-4">
        <sos-admin-home-bazaar-top ideaType="teach"></sos-admin-home-bazaar-top>
      </div>
      <div class="col-4">
        <sos-admin-home-bazaar-top ideaType="research"></sos-admin-home-bazaar-top>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <sos-admin-home-bazaar-creators></sos-admin-home-bazaar-creators>
      </div>
      <div class="col-6">
        <sos-admin-home-bazaar-top></sos-admin-home-bazaar-top>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="home-section-title">
    <hr /><div>Attività</div><hr />
  </div>
  <div class="stats-container">
    <div class="row">
      <div class="col-5">
        <div class="mb-2">
          <sos-admin-home-activities-next></sos-admin-home-activities-next>
        </div>
        <div>
          <sos-admin-home-activities-top></sos-admin-home-activities-top>
        </div>
      </div>
      <div class="col-7">
        <sos-admin-home-activities-count></sos-admin-home-activities-count>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="home-section-title">
    <hr /><div>Fablab</div><hr />
  </div>
  <div class="stats-container">
    <div class="row">
      <div class="col-7">
        <sos-admin-home-fablab-top-machines></sos-admin-home-fablab-top-machines>
      </div>
      <div class="col-5">
        <sos-admin-home-fablab-count></sos-admin-home-fablab-count>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="home-section-title">
    <hr /><div>Progetti</div><hr />
  </div>
  <div class="stats-container">
    <div class="row">
      <div class="col-7">
        <sos-admin-home-activities-top-projects></sos-admin-home-activities-top-projects>
      </div>
      <div class="col-5">
        <sos-admin-home-activities-count-projects></sos-admin-home-activities-count-projects>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="home-section-title">
    <hr /><div>Awards</div><hr />
  </div>
  <div class="stats-container">
    <div class="row" *ngFor="let row of awards">
      <div class="col-6" *ngFor="let a of row">
        <sos-admin-home-awards-users
          [awardType]="a.award"
          [title]="a.title">
        </sos-admin-home-awards-users>
      </div>
    </div>
  </div>
</section>
