@import "../../variables";


$navbar-elm-height: 1.5em;
$block-flex-basis: 15rem;   // must be big enough to contain all variations for font ligatures


#navbar-login {
  margin-top: -$navbar-elm-height / 2;
}

.navbar {
  .navbar-brand {
    font-family: FreakGrotesk, sans-serif;
    text-transform: lowercase;
    font-size: $h1-font-size;
    padding: 0;
    height: $navbar-elm-height;
    letter-spacing: -20px;
    flex-basis: $block-flex-basis;
  }
  .period-selector {
    flex-grow: 1;
    text-align: right;
    padding-right: map_get($spacers, 3);
    margin-top: -20px;
    .btn.btn-link {
      font-size: 1.2rem;
      line-height: 1;
      padding: 3px;
      border-bottom: 2px solid transparent;
      &:hover, &.active {
        border-bottom: 2px solid $yellow;
      }
    }
    .dropdown-menu {
      padding: 1.6rem 2rem;
      left: 37%;
      top: 70%;
      border: 2px solid black;
      box-shadow: 0 4px 12px;
    }
    form {
      .form-control, .btn {
        font-size: 1rem;
      }
    }
  }
  .navbar-right-side {
    text-align: right;
  }
  .navbar-sos-toggler {
    border: none;
    padding: 0;
    font-size: $h1-font-size;
    color: black;
    height: $navbar-elm-height;
    // this has to be here and not in the icon's :before to align toggler with brand
    font-family: FreakGrotesk, sans-serif;
    font-weight: 100!important;
    .navbar-toggler-icon {
      height: auto;
      width: auto;
      background-image: none;
      &:before {
        content: $navbar-toggler-icon;
      }
    }
    &:hover {
      color: $yellow !important;
    }
  }
}

@include media-breakpoint-up(xl) {
  .navbar {
    .navbar-brand, .navbar-right-side {
      flex-basis: $block-flex-basis;
    }
    .period-selector {
      text-align: center;
      padding-right: 0;
    }
  }
}


#main-navbar {
  position: absolute;
  z-index: $navbar-z-index;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  &, .navbar {
    background-color: black;
  }
  color: white;
  &.collapsing {
    transition: none;
    transition-duration: 0ms;
  }
  .container {
    position: relative;
    height: 100%;
    & > .row {
      position: absolute;
      width: 100%;
      top: 36%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include margin-x(0);
    }
  }
  .navbar-sos-toggler {
    &:not(:hover) {
      color: white;
    }
    .navbar-toggler-icon {
      &:before {
        content: $sos-skull;
      }
    }
  }
  .navbar {
    padding-bottom: 0;
  }
  .btn-link, a {
    color: white;
    font-weight: bold;
  }
  .nav-divider {
    margin-bottom: map_get($spacers, 3);
  }
  .nav-item {
    font-size: $font-size-sm;
    &:before {
      content: $right-arrow;
      font-weight: bold;
    }
    &:hover {
      a, .btn-link {
        color: $yellow;
      }
      &:before {
        color: $yellow;
      }
    }
    a, .btn-link {
      padding: 0;
    }
    &.active {
      a, .btn-link, &:before {
        color: $gray-800;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  #main-navbar {
    .container > .row {
      top: 30%;
    }
    .nav-divider {
      margin-bottom: map_get($spacers, 5);
    }
  }
}

@include media-breakpoint-up(lg) {
  #main-navbar {
    .navbar {
      padding-bottom: map_get($spacers, 2);
    }
    .nav-item {
      margin-bottom: map_get($spacers, 1);
      font-size: $font-size-base;
    }
  }
}

#main-navbar, .navbar {
  .navbar-brand {
    &:hover {
      color: $yellow;
    }
  }
}
